<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Insert an RPG</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Insert an RPG</h1>

<form action="#" th:action="@{/insert}" th:object="${rpg}" method="post">
    <p>Name : <input type="text" th:field="*{name}"/></p>

    <p>Year : <input type="datetime" th:field="*{year}"/></p>

    <p>Description : <input type="text" th:field="*{description}"/></p>

    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>